.sex{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.about{
    width: 160px;
    height: 80px;
    size: 25%;
}
.sex:checked {
    background-color: rgb(55, 55, 248);
    border:none;
}
#submit{
    text-align: center;
}